/*  styles.css ; Liliya Artyukh ;  page that has css styles for all pages on this website            */


/*-------------------- global style start------------------*/
body {
b order: solid 1px red;
}


.sectionSeparator{
 clear: both;
height: 10px;
background-color: grey;
}
/*-------------------- global style start------------------*/

/* ------------------------------------------------------------- header start -------------------------- */


#topNavBar {
padding: 0 0;
margin: 0 0;
}

#logoImage {
width: 55px;
height: 42px;
}


#logoBig {
float: left;
padding: 5px 15px 0  5px ;
}

#linkToSite: active {
text-decoration: none;
}

#linkToSite:  link  {
text-decoration: none;
}
#linkToSite: visited  {
text-decoration: none;
}
#linkToSite:  hover {
text-decoration: none;
}

#myName {
color: #C2C2C2;
padding: 15px 5px 0  5px ;
}

#siteName {
width: 180px;
float: left;
}

#mainHeader {
padding: 10px 25px 0 50px;
height: 250px;
background-image: url("../images/green_green.jpg");
}

#mainHeader p{
font-size:21px;
font-weight:200;
}

#contactMe div p{
font-weight: bold;
color: #DDBBAA;
padding-top: 5px;
padding-left: 5px;
}

#envelopeIcon{
width: 30px;
height: 16px;
}

#contactMe div{
    position: absolute;
    right: 0px;
    width: 115px;
height: 30px;  
}

#contactMe{
height: 30px;  
align: right;
margin-top: 50px;
background-color: #025D79;
}

#contactLink:link{
color: #C9C9B0;
text-decoration: none;
}

#contactLink:visited{
color: #C9C9B0;
text-decoration: none;
}

#contactLink:hover{
color: #C77B38;
text-decoration: none;
}

#bannerTitle{
color: #333333;
font-size:63px;
font-weight:200;
} 

#breadcrums {
padding: 0 0;

}

/* -------------------------------------------------------------------------------------- header end -------------------------- */


/*--------------------------------------------------------------------------------------- footer start --------------------------- */

#preFooter {
clear: both;
background-color: black; #3D494C  ; /*#025D79;*/
height: 60px;
}

/*------------ STAY Connected div links  start - --------------*/
#stayConnected { 
b order: solid 1px red;
margin-left: auto;
marging-right: auto;
width: 65%;
}

#stayConnected div{
float: left;
}

#stayConnectedText{
padding-top: 22px;
color: #CCCCCC;
}

.SMicon{
width:48px;
height:48px;
margin-left: 10px;
margin-right: 10px;
margin-top: 5px;
display: block;
text-indent: -99999px;
}

#socialMediaIconsF:link {
background: url("../images/faceBook_darkBlue.png");
display: block;
}
#socialMediaIconsF:hover{
background: url("../images/faceBook_darkBrown.png");
background-position: 0 0;
}
#socialMediaIconsL:link{
background-image: url("../images/linkedIn_darkBlue.png");
display: block;
}
#socialMediaIconsL:hover{
background-image: url("../images/linkedIn_darkBrown.png");
background-position: 0 0;
}
#socialMediaIconsG:link{
background-image: url("../images/google_darkBlue.png");
display: block;
}
#socialMediaIconsG:hover{
background-image: url("../images/google_darkBrown.png");
background-position: 0 0;
}
/*------------ STAY Connected div links end- --------------*/


#footerSiteMap{
padding-top: 3px;
color: #01824A;
background-color: #012D3A; 
height: 150px;
}

#SiteMapContainer {
 margin-left: auto;
 margin-right: auto;
width: 65%;
}

#SiteMapContainer div{
padding: 5px;
width: 20%;
float: left;
}

.SiteMapSubTitle {
font-size: smaller;
padding-left: 10px;
}

.SiteMapSubTitle:active {
color: #3FADD5;
text-decoration: none;
}
.SiteMapSubTitle:link {
color: #2A6496;
text-decoration: none;
}
.SiteMapSubTitle:visited{
color: #2A6496;
text-decoration: none;
}
.SiteMapSubTitle:hover {
color: #C77B38;
text-decoration: none;
}
.footerM:link{
color: #01824A;
}
.footerM:visited{
color: #028D64;
text-decoration: none;
}
.footerM:hover{
color: #C77B38;
text-decoration: none;
}

#copyrightStatement   {
background-color: #012D3A; 
color: #CCCCCC;
  font-size: 10px;
 text-align: center;
    p osition: absolute;
    r ight: 0px;
    w idth: 200px;
    }

#footer{
color: #ADADAD;
  text-align: center;
  font-size: 10px;
  padding-top: 10px;
background-color: #2B2B2B  ;/*#005566;*/
height: 40px;
}
/*--------------------------------------------------------------------------------- footer end --------------------------- */

/*--------------------------------------------------------------------------------- content start --------------------------- */
/*----contact me start---*/
#businessCard {
padding-left: 5%;
padding-bottom: 20px;
}
#contactMeContent{
padding-bottom: 20px;
}
/*----contact me end---*/

/*----home page start---*/
#seeMore {
b order: solid 2px red;
m argin-top:500px;
height: 100px;
background-image: url("../images/code1.gif");
 o pacity: 0.5;
    f ilter: alpha(opacity=40);
    display: block;
}


#callToAction{
    width: 151px;
    height: 74px;margin-left: 15%;
  background-image: url("../images/callToAction.gif") ;
    b order: solid 2px red;
    b ackground-color: yellow;
    /* Rotate div */
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Chrome, Safari, Opera */
    transform: rotate(20deg); /* Standard syntax */
}


.carousel-inner{
margin-left: auto;
margin-right: auto;
width: 50%;

}
#content3 {
w idth: 700px;
h eight: 700px;
text-align: center;
}

#icon {
margin: 0 0 0 0;
padding: 0 0 0 0;
}

textarea {
    resize: none;
}


#myCarousel{
margin-top: 20px;
margin-bottom: 20px;
b order: solid 2px red;
}

#welcomeDiv{
text-align: center;
height: 250px;
}

#welcomeTitle{
margin-top: 25px;
marging-bottom: 80px;
}

#welcomeList{
text-align: left;
width: 100px;
margin-left: auto;
margin-right: auto;
}

/*---- home page end  ---*/


/*---- about me start --*/
#AboutMeSection{
min-height: 320px;
height: auto;
margin-bottom: 20px;
margin-top: 20px;
}
#AboutMeContainer{
margin-left: auto;
marging-right: auto;
width: 75%;
}
#AboutMeContainer div{
float:left;
}

#bioLiliya{
margin-top: 5px;
margin-bottom: 5px;
}

#shortBio{
text-align: left;
}
#MyPhoto{
width: 270px;
height: 324px;
}


#educationSection{
text-align: center;
height: 380px;
}
#educationContainer{
margin-left: auto;
marging-right: auto;
width: 75%;
}
#educationContainer div{
margin-bottom: 10px;
float: left;
}
.educationDivs educationDivsMiddle{
m argin-top: 5px;
d isplay: block;
t ext-indent: -99999px;
f loat:right;
}
.educationDivsMiddle{
display: block;
text-indent: -99999px;
width: 50px;
height: 10px;
}
.educationDivs{
display: block;
text-indent: -99999px;
width: 418px;
height: 313px;
}
#univInfo:link {
background: url("../images/univ_front.png");
display: block;
}
#univInfo:hover{
background: url("../images/univ_back.png");
background-position: 0 0;
}
#collegeInfo:link {
background: url("../images/college_front.png");
display: block;
}
#collegeInfo:hover{
background: url("../images/college_back.png");
background-position: 0 0;
}

#experienceSection{
background-color: #EDEDED;
text-align: center;
height: 620px;
}
#experienceContainer{
margin-left: auto;
marging-right: auto;
width: 82%;
}
.experienceRow {
float: left;
display: block;
}
.experienceRow div{
float: left;
}
/*---- about meend  ---*/
/*--------------------------------------------------------------------------------- content end --------------------------- */



.hiddenDetails {

  display: none;
}

#sideBar {
    width: 100px;
    height: 100px;
    background: red;
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;
}

#sideBar:hover {
    width: 300px;
}

